:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.square1{
  background-color: white;
  display: flex;
  height: 100px;
  width:100px;
  border-radius: 10%;
}
.square1:hover{
  box-shadow: 0px 0px 40px rgb(0, 250, 250);

  
  
}
.circle1{
  background-color: black;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: row;
  margin: auto auto;
  
}
.square2{
  background-color: white;
  display: flex;
  height: 100px;
  width:100px;
  border-radius: 10%;
}
.square2:hover{
  box-shadow: 0px 0px 40px rgb(0, 250, 250);

  
  
}
.circle2{
  background-color: black;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: row;
  margin: auto auto;
  
}
.square3{
  background-color: white;
  display: flex;
  height: 100px;
  width:100px;
  border-radius: 10%;
}
.square3:hover{
  box-shadow: 0px 0px 40px rgb(0, 250, 250);

  
  
}
.circle3{
  background-color: black;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: row;
  
  margin: auto auto;
  
}
.square4{
  background-color: white;
  display: flex;
  height: 100px;
  width:100px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  
}
.square4:hover{
  box-shadow: 0px 0px 40px rgb(0, 250, 250);

  
  
}
.top{
  display: flex;
  margin: 10px 0px;

}
.bottom{
  display: flex;
  margin: 30px 0px;
}
.circle4{
  background-color: black;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  margin: auto auto;
  
}
.circle5{
  background-color: black;
  border-radius: 100%;
  height: 20px;
  width: 20px;

  
  margin: auto auto;
  
}
.square5{
  background-color: white;
  display: flex;
  height: 100px;
  width:100px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  
}
.square5:hover{
  box-shadow: 0px 0px 40px rgb(0, 250, 250);

  
  
}
.center5{
  background-color: black;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  display: flex;
  margin:  auto;

 
}
.top5{
  display: flex;
  margin: 10px 0px;

}
.bottom5{
  display: flex;
  margin: 10px 0px;
}
.square6{
  background-color: white;
  display: flex;
  height: 100px;
  width:100px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  
}
.square6:hover{
  box-shadow: 0px 0px 40px rgb(0, 250, 250);

  
  
}
.circle6{
  background-color: black;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  margin: auto auto;
  
}
.dices{
  display: flex;
  gap: 50%;
  padding-top: 200%;
}
.btn:hover{
  box-shadow: 0px 0px 40px rgb(0, 250, 250);
}

.cell{
  height: 61px;
  width: 61px;
  
  display: flex;
  margin: 0px auto;
  
  
}
.row{
  height: 61px;
  width: 610px;
  display: flex;
flex-direction: row;
}
.box{
  
  display: flex;
  flex-direction: column;
  background-image: url('./istockphoto-577332576-612x612.jpg');
  background-repeat: no-repeat;
  height: 610px;
  width: 610px;}
.red{
  
 background-image: url('./2560458f4e5d25925e4440ae290fff054dbb31.png');
  height: 40px;
  width: 25px;
  background-repeat: no-repeat;


}
.blue{
  height: 40px;
  width: 30px;
  background-image: url('./png-transparent-board-clue-game-ludo-piece-playing-blue-toy-recreation-removebg-preview.png');
 
  
  background-repeat: no-repeat;
  
}  
#dices{
  width: 100px;
  height: 100px;
  display: flex;
}
.control{
  display: flex;
  flex-direction: row;
  gap: 50%;
 margin: 20px 20px;
padding: 20px 20px;
}
.container{
  padding: 5% 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.btn{
  padding: 20px 20px;
  margin: 20px 0px;
}
.maincontainer{


  height: 100%;
  width: 100%;
  background-image: url('./hq720.jpg');

 
 }
 #red-piece{
  padding-left: 10%;
  padding-right: 2%;
 }
 #info{
  color: yellow ;
  font-size: larger;
padding-left: 1%;
 }